* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html, body {
  min-height: 100%;
  font-size: 14px;
  color: #1a3153;
}

button:hover, a:hover {
  cursor: pointer;
}

.checkbox input[type=checkbox] {
  display: none;
}
.checkbox__text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #1a3153;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 rgba(203, 34, 237, 0.2);
}
.checkbox__text::before, .checkbox__text::after {
  transition: 0.3s;
}
.checkbox__text {
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__input:checked + .checkbox__text::before {
  border-color: #26ce32;
  background: #26ce32;
  box-shadow: none;
}
.checkbox__input:checked + .checkbox__text::after {
  content: "";
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  left: 7px;
  top: 4px;
}

.btn {
  border: none;
  padding: 12px 15px;
  transition: 0.2s;
}
.btn_danger {
  background: #ff000040;
}
.btn_danger:hover {
  background: #ff00005c;
}

.input {
  min-height: 32px;
  padding: 6px 12px;
}

.select-wrap {
  position: relative;
  min-width: 120px;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #1a3153;
}
.select-wrap select {
  appearance: none;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px 25px 10px 15px;
}
.select-wrap select:focus {
  outline: none;
}
.select-wrap::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #1a3153;
  right: 10px;
  top: 14px;
  transform: rotate(45deg);
}

._container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.table-todo__header-title, .table-todo__header-date {
  position: relative;
}
.table-todo__header-title:hover, .table-todo__header-date:hover {
  cursor: pointer;
}
.table-todo__header-sort-arrow {
  display: inline-block;
  position: absolute;
  right: 14px;
  color: #fff;
  font-size: 15px;
}
.table-todo__row._done .table-todo__title::before {
  transform: scaleX(1);
}
.table-todo__title {
  position: relative;
  display: inline;
}
.table-todo__title::before {
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  background: #333;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.table-todo__actions {
  display: flex;
}
.table-todo__actions a {
  padding: 0px 6px;
  font-size: 15px;
  color: #1a3153;
}
.table-todo__actions a + a {
  margin-left: 6px;
}
.table-todo__btn:hover {
  cursor: pointer;
}
.todo {
  margin-top: 50px;
}
.todo__table {
  display: none;
}
.todo__pagination {
  margin-top: 30px;
  display: none;
  justify-content: center;
}

.todo-header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  min-height: 40px;
  position: relative;
}
.todo-header__btn-remove-all {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.todo-header__select-wrap {
  margin-left: 30px;
}

.table-todo {
  width: 100%;
  border-collapse: collapse;
}
.table-todo tr:nth-child(even) {
  background: #F2F2F2;
}
.table-todo, .table-todo th, .table-todo td {
  border: 1px solid #DDDDDD;
}
.table-todo th:first-child, .table-todo td:first-child {
  text-align: center;
}
.table-todo th {
  text-align: left;
  background: #2294FF;
  padding: 12px 12px;
  color: #fff;
}
.table-todo td {
  padding: 8px 12px;
}

.box-add {
  border-bottom: 1px solid #1a3153;
  flex-basis: 400px;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
}
.box-add__field {
  flex-grow: 1;
  border: 0;
  padding: 0 12px;
}
.box-add__field::placeholder {
  color: #DDDDDD;
}
.box-add__field:focus {
  outline: none;
}
.box-add__btn {
  text-decoration: none;
  padding: 7px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a3153;
  font-size: 16px;
}

.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.pagination__link {
  display: block;
  padding: 10px 15px;
  margin-left: -1px;
  background-color: #fff;
  color: #1a3153;
  border: 1px solid #DDDDDD;
  text-decoration: none;
}
.pagination__link:hover {
  cursor: pointer;
}
.pagination__link._active {
  background: #2294FF;
  color: #fff;
  pointer-events: none;
}
.pagination__link._disabled {
  pointer-events: none;
  background: #F2F2F2;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.popup._open {
  opacity: 1;
  visibility: visible;
}
.popup._open .popup__content {
  transform: translateY(30px);
}
.popup._close {
  opacity: 0;
}
.popup._close .popup__content {
  transform: translateY(30px);
}
.popup__overlay {
  background: #858585cc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup__content {
  margin: 40px auto;
  max-width: 400px;
  padding: 40px 20px;
  position: relative;
  background-color: #fff;
  transition: transform 0.3s;
  transform: translateY(0);
}
.popup__header {
  text-align: center;
  margin-bottom: 30px;
}
.popup__body {
  text-align: center;
}
.popup__field {
  width: 100%;
}
.popup__footer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.popup__btn:hover {
  cursor: pointer;
}
.popup__btn_cancel, .popup__btn_submit {
  background: #e4e4e4;
  border: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: 10px 30px;
  font-size: 14px;
}
.popup__btn_close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
