.input {
  min-height: 32px;
  padding: 6px 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

button:hover, a:hover {
  cursor: pointer;
}

html, body {
  min-height: 100%;
}

._container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.table-todo__row._done .table-todo__title::before {
  transform: scaleX(1);
}
.table-todo__title {
  position: relative;
  display: inline;
}
.table-todo__title::before {
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  background: #333;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.table-todo__actions {
  display: flex;
}
.table-todo__actions a {
  padding: 2px 6px;
}
.table-todo__actions a + a {
  margin-left: 5px;
}
.todo {
  margin-top: 50px;
}
.todo__table {
  display: none;
}

.todo-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  min-height: 35px;
  position: relative;
}
.todo-header__btn-remove-all {
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.todo-header select {
  height: 100%;
  margin-left: 30px;
}

.select-sort-task {
  min-width: 120px;
  text-align: center;
}

.table-todo {
  width: 100%;
  border-collapse: collapse;
}
.table-todo, .table-todo th, .table-todo td {
  border: 1px solid;
}
.table-todo th, .table-todo td {
  padding: 6px 10px;
}
.table-todo th:first-child, .table-todo td:first-child {
  text-align: center;
}
.table-todo th {
  text-align: left;
  background: #e4e4e4;
}

.box-add {
  border: 1px solid;
  flex-basis: 400px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}
.box-add__field {
  flex-grow: 1;
  border-radius: 2px;
  border: 0px;
  padding: 0 12px;
}
.box-add__btn {
  text-decoration: none;
  padding: 7px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e4e4;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-left: 1px solid;
  color: black;
  text-transform: uppercase;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.popup._open {
  opacity: 1;
  visibility: visible;
}
.popup._open .popup__content {
  transform: translateY(30px);
}
.popup._close {
  opacity: 0;
}
.popup._close .popup__content {
  transform: translateY(30px);
}
.popup__overlay {
  background: #858585cc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup__content {
  margin: 40px auto;
  max-width: 400px;
  padding: 40px 20px;
  position: relative;
  background-color: #fff;
  transition: transform 0.3s;
  transform: translateY(0);
}
.popup__header {
  text-align: center;
  margin-bottom: 30px;
}
.popup__body {
  text-align: center;
}
.popup__field {
  width: 100%;
}
.popup__footer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.popup__btn:hover {
  cursor: pointer;
}
.popup__btn_cancel, .popup__btn_submit {
  background: #e4e4e4;
  border: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: 10px 30px;
  font-size: 14px;
}
.popup__btn_close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
